# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# --------------------------------------------------
# IGNORE ALL BUILD FOLDERS
# --------------------------------------------------
build/
**/build/

# KEEP ONLY WEB BUILD
!build/web/
!build/web/**

# Ignore generated Android plugin folders
.generated/
.transformed/
.cxx/

# Ignore backend folder completely
youvai_backend/

# Native/generated folders
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/

# Temp
tmp/
temp/